{{#partial "contenido" }}
    <body>
    <style>
        custom-background{
            background-color: #0a2642;
        }

        .mt-5 {
            margin-top: 3rem!important;
            width: 70%;
        }
        form {
            background-color: #154f76; /* Tu color personalizado para el formulario */
        }

        .form-control { /*colores para los imput del formulario*/
            background-color: #dceaf3;
            color: #35424a;
            border: 1px solid #35424a;
        }
    </style>
    <!-- clases de bootstrap -> text-black: color fw-bold: cuerpo -->
    <!--<h5 class="card-title text-black fw-bold">Servicios:</h5>-->
    <div class="container mt-5">
        <h1 class="text-center mb-4 text-white ">Crear Establecimiento</h1>

        <form class="p-3 rounded" method="post" action="/entidades/{{entidad.getId}}/establecimientos">
            <div class="accordion" id="accordionForm">

                <!-- Campo Normal -->
                <div class="mb-3">
                    <label for="campoNormal" class="form-label text-white fw-bold">Nombre del Establecimiento:</label>
                    <input type="text" class="form-control" id="campoNormal" name="nombre" placeholder="Nombre Del Establecimiento">
                </div>

                <div class="mb-3">
                    <label for="campoNormal" class="form-label text-white fw-bold">Perteneciente A Entidad:</label>
                    <input type="text" class="form-control" id="campoNormal" placeholder="{{entidad.getNombre}}" disabled>
                </div>

                <div class="mb-3">
                    <label for="areaTexto" class="form-label text-white fw-bold ">Descripcion:</label>
                    <textarea class="form-control" id="areaTexto" rows="4" name="descripcion" placeholder="Ingrese una descripcion"></textarea>
                </div>

                <div class="mb-3">
                    <label for="campoNormal" class="form-label text-white fw-bold">Localizacion:</label>
                    <p class="card-text text-white"> Las ubicaciones se asigna una vez creado El Establecimiento</p>
                </div>


                <!-- para dejar una espacio entre entre el show y los botones-->
                <div class="d-flex justify-content-center mb-4">
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Agregar Establecimiento</button>
                </div>

                <!-- Botones Dentro del fromulario - no centrados
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="reset" class="btn btn-secondary">Limpiar</button>
                </div>
                -->
            </div>

        </form>
        <!-- para dejar una espacio entre entre el show y los botones-->
        <div class="d-flex justify-content-center mb-4">
        </div>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-secondary me-2" type="button" onclick="volverAtras()" >Volver</button>
        </div>

    </div>
    </body>

    <script>
        function volverAtras() {
            window.history.back();
        }
    </script>
{{/partial}}
{{> templates/dashboard}}