{{#partial "contenido" }}
    <!-- solo lo vera el propietario -->
    <style>
        .mt-5 {
            margin-top: 3rem!important;
            width: 60%;
        }
        form {
            background-color: #154f76; /* Tu color personalizado para el formulario */
            color: white; /*color de las letras del form, almenos que tenga una clase de bootstrap*/
        }

        .form-control { /*estilo de los imput del formulario para los imput del formulario*/
            background-color: #dceaf3;
            color: #35424a;
            border: 1px solid #35424a;
        }
    </style>

    <div class="container mt-5 ">
        <h1 class="text-center mb-4 text-white">Crear Servicio</h1>

        <!-- mb margen inferior-->
        <form class="p-3 rounded mb-4" method="post" action="/servicios" onsubmit="return enviarFormularioUnaVez(this);">
            <div class="accordion" id="accordionForm">

                <!-- Campo Normal -->
                <div class="mb-3">
                    <label for="campoNormal" class="form-label  fw-bold">Nombre:</label>
                    <input type="text" class="form-control" id="campoNormal" name="nombre" placeholder="Nombre Servicio">
                </div>

                <!-- Ãrea de Texto -->
                <div class="mb-3">
                    <label for="areaTexto" class="form-label  fw-bold ">Descripcion:</label>
                    <textarea class="form-control" id="areaTexto" rows="4" name="descripcion" placeholder="Ingrese su Descripcion"></textarea>
                </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary">Crear Servicio</button>
                </div>

            </div>
        </form>

        <!-- Botones fuera dentro del Form-->
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-secondary me-2" onclick="volverAtras()" >Volver</button>
        </div>

        <script>
            function volverAtras() {
                window.history.back();
            }
            function enviarFormularioUnaVez(formulario) {
                if (formulario.getAttribute('data-ya-enviado') === 'true') {
                    return false; // Ya se ha enviado el formulario
                }

                formulario.setAttribute('data-ya-enviado', 'true');
                return true;
            }
        </script>

    </div>
{{/partial}}
{{> templates/dashboard}}