{{#partial "contenido" }}

    <!-- color de fondo del incidente #154f76-->
    <style>
        /*agregando al div */
        .custom-background {
            background-color: #154f76;
        }
    </style>

<!-- Lista de Incidentes -->
<div class="container mt-5">
    <h2 class="mb-4 text-center text-white" >Organismos De Control</h2>

    <!-- Incidente 1 -->
    {{#each organismoDeControl}}
    <div class="card mb-3 custom-background text-white ">
        <div class="card-body">
            <h5 class="card-title">Organismo De Control {{this.getNombre}}</h5>
            <p class="card-text"></p> <!-- deja un leve espacio, es para cuando no hay descripcion-->

            <a href="/organismosDeControl/{{this.getId}}"> <button class="btn btn-info me-2">Ver en Detalle</button> </a>
            <a href="/organismosDeControl/eliminar/{{this.getId}}"> <button class="btn btn-danger me-2">Eliminar OrgDeControl</button> </a>
            <a href="/organismosDeControl/{{this.getId}}/editar"> <button class="btn btn-warning me-2">Modificar OrgDeControl</button> </a>
            <a href="/entidadesPrestadoras"> <button class="btn btn-primary me-2">Ver EntidadesPrestadoras</button> </a>
        </div>
    </div>
    {{/each}}

    <!-- Botón para Agregar Incidente -->
    <div class="d-flex justify-content-center mb-4">
        <!--<button class="btn btn-success me-2">Agregar Incidente</button>-->
        <button class="btn btn-secondary" type="button" onclick="volverAtras()" >Volver</button>
    </div>
</div>

    <script>
        function volverAtras() {
            window.history.back();
        }
    </script>
{{/partial}}
{{> templates/dashboard}}